/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply Roboto font to the entire document */
body {
    font-family: 'Roboto', sans-serif;
}

/* Set container width to 85% and center it */
.container {
    width: 85%;
    margin: auto;
}

/* Style for the blog section */
.blog-section {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

/* Style for h2 within the blog section */
.blog-section h2 {
    font-size: 40px;
    color: #357ca6;
    text-transform: uppercase;
    margin-top: 20px;
}

/* Style for paragraph within the blog section */
.blog-section p {
    font-size: 18px;
    color: #7e7e7e;
    margin-top: 20px;
}

/* Style for the grid of cards */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px 0;
}

/* Style for individual cards */
.cards .card {
    width: 100%;
    position: relative;
}

/* Style for the image selection */
.image-selection {
    width: 100%;
    height: auto;
}

/* Style for content within the cards */
.content {
    padding: 15px 20px;
    text-align: center;
}

/* Style for h4 within the content */
.content h4 {
    font-size: 24px;
    color:black;
    font-weight: 400;
}
.card p{
    font-size: 20px;
}
/* Style for paragraphs within the content */
.content p {
    color: #eee3e3;
    font-size: 30px;

}
.card img{
    object-fit:cover;
    width: 100%;
    margin-top: 0;
    

}
